infra/n8n/workflows/wazuh-cobalt.json
{
  "name": "Wazuh → Cobalt Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"rule\"][\"level\"]}}",
              "operation": "greaterEqual",
              "value2": "7"
            }
          ]
        }
      },
      "id": "severity-filter",
      "name": "Severity Filter (>=7)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://langgraph-api:8000/webhook/wazuh",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Source",
              "value": "n8n-wazuh"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert_id",
              "value": "={{$json[\"id\"]}}"
            },
            {
              "name": "alert",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-cobalt",
      "name": "Call Cobalt API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({status: \"processed\", alert_id: $json[\"alert_id\"], routing: $json[\"routing\"]})}}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({status: \"filtered\", reason: \"low_severity\"})}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-filtered",
      "name": "Respond Filtered",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Severity Filter (>=7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Filter (>=7)": {
      "main": [
        [
          {
            "node": "Call Cobalt API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Filtered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cobalt API": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cobalto-n8n"
  }
}
