playbooks/alert-ingestion.json
{
  "name": "Cobalto Alert Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerts",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cobalto-alerts"
    },
    {
      "parameters": {
        "jsCode": "// Validate and parse alert payload\nconst alert = $input.first().json;\n\n// Validate required fields\nif (!alert.alert_id && !alert.id) {\n  throw new Error('Missing alert_id');\n}\n\n// Normalize alert structure\nconst normalized = {\n  alert_id: alert.alert_id || alert.id,\n  source: alert.source || 'unknown',\n  severity: alert.severity || 'informational',\n  source_ip: alert.source_ip || alert.srcip,\n  destination_ip: alert.destination_ip || alert.dstip,\n  source_port: alert.source_port || alert.srcport,\n  destination_port: alert.destination_port || alert.dstport,\n  user_name: alert.user_name || alert.user,\n  host_name: alert.host_name || alert.hostname,\n  rule_id: alert.rule_id || (alert.rule && alert.rule.id),\n  rule_description: alert.rule_description || (alert.rule && alert.rule.description),\n  timestamp: alert.timestamp || new Date().toISOString(),\n  raw_alert: alert\n};\n\nreturn [{ json: normalized }];"
      },
      "id": "code-1",
      "name": "Parse & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "largerEqual",
              "value2": 8
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Severity Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "http://langgraph-api:8000/agent/analyze",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert_id",
              "value": "={{ $json.alert_id }}"
            },
            {
              "name": "alert",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "http-1",
      "name": "Dispatch to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "url": "http://thehive:9000/api/v1/alert",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.alert_id }} - {{ $json.rule_description }}"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-2",
      "name": "Create TheHive Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', alert_id: $json.alert_id, message: 'Alert processed' } }}"
      },
      "id": "respond-1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "channel": "#soc-alerts",
        "text": "🚨 *Security Alert*\n\n*Alert ID:* {{ $json.alert_id }}\n*Severity:* {{ $json.severity }}\n*Source:* {{ $json.source }}\n*Description:* {{ $json.rule_description }}\n\n*Source IP:* {{ $json.source_ip }}\n*Destination IP:* {{ $json.destination_ip }}",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 100],
      "credentials": {
        "slackApi": "Slack API"
      }
    }
  ],
  "connections": {
    "Alert Webhook": {
      "main": [
        [
          {
            "node": "Parse & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Normalize": {
      "main": [
        [
          {
            "node": "Severity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Check": {
      "main": [
        [
          {
            "node": "Dispatch to Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TheHive Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch to Agent": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "cobalto-local"
  }
}